.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 10px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
  box-shadow: inset 0px 0px 10px #c1c1c1;
  outline: none;
}